a.nav-button{
    font-size: clamp(1rem,10vw,2rem);
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    cursor: url("imgs/cursor-64.png") 16 16, auto;
}

header{
    width: inherit;
    height: inherit;
}

h1#title-page{
    width: inherit;
    padding: 10vh 0;
    
    text-align: center;
    font-size: clamp(1rem,5vw,4rem);

    color: white !important;
}

h1#title-page::selection,a.nav-button::selection{
    background: transparent;
    color: inherit;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: inherit;
    height: 35vh;
}