@font-face {
    font-family: 'pixel';
    src: url("/fonts/Pixel.ttf") format("truetype");
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    background-color: rgb(131, 85, 5);
    
    font-family: 'pixel';

    cursor: url("/imgs/cursor-64.png") 16 16, auto;
}


ul{
    list-style: none;
}
