@font-face {
    font-family: 'pixel';
    src: url("fonts/Pixel.ttf") format("truetype");
    font-weight: normal;
}

body{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    background-color: rgb(56, 56, 56);
    
    font-family: 'pixel';

    cursor: url("imgs/cursor-64.png") 16 16, auto;
}


ul{
    list-style: none;
    padding: 0;
}

.button{
    padding: 6vw;
    
    background-color: rgba(0, 0, 0, 0.31);
    
    border-radius: 20px;
    border: 5px solid white;

    transition: transform ease 0.2s;

    font-size: clamp(1rem,10vw,2rem);
    color: white;
}

.button:hover{
    transform: scale(1.25);
}