body{
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

header{
    background-color: rgb(225, 225, 225);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

main#game{
    margin-top: 25dvh;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -50px;
}

li{
    margin: 80px;
    font-size: clamp(1rem,10vw,2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#timer{
    color: white;
    font-size: clamp(1rem,10vw,4rem);

}

.hidden{
    display: none !important;
}

.monster-box{
    width: 64px;
    height: 64px;
    position: absolute;
    background-color: white;
    top: 0;
    border-radius: 50%;
}

.background-monster-box{
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url('../imgs/target.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (orientation: portrait) {
    ul{
        flex-direction: column;
    }

    li{
        margin: 10px;
    }
}